body {
    background-color: #1f1f1f;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #dd740b;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
    position: absolute;
    bottom: 50px;
}

.greenBox {
    background: #5b8054;  
}

.container {
    background: rgba(0,0,0,.4); 
    height: 200px;
}