* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #cccccc;
}

.menu {
    list-style: none;
    text-align: center;
}

.menu li:hover {
    background-color: #cc9999;
}

.menu li {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin: 5px;
    padding: 3px 0 0 10px;
    border-bottom: 3px solid black;
    background-color: #cccc99;   
}

.menu li a {
    text-decoration: none;
    color: black;
}