﻿body {
    padding: 0;
    margin: 0;
}

#authorinfo {
    margin-left: 605px
}

#content {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 600px;
}

#header {
    background-color: red;
}